/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}


li.bjqs-prev, li.bjqs-next {
    height: 100%;
    width: 60px;
    background-size: 40px;
    background-repeat: no-repeat;
    top: 0;
    margin-top: -15px;
    position: absolute;
    background-color: white;
    background-position: center;
}
li.bjqs-prev {left: 0; background-image: url(img/bjqsprev.svg);}
li.bjqs-next {right: 0; background-image: url(img/bjqsnext.svg);}



li.bjqs-slide div.slidetextcontainer {
    background: rgba(255,255,255,0.8);
    position: absolute;
    z-index: 999999999;
    width: 100%;
    bottom: -20px;
    padding: 30px;
    text-align: center;
}